<a href="https://colab.research.google.com/github/MohamedMostafaSal/StructuredData/blob/main/Spark/Spark_Session_2_H_W.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task 1 - SQL

### Build SparkSession:

In [ ]:
!pwd
! wget https://archive.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
!tar -xvzf spark-3.0.1-bin-hadoop3.2.tgz
!pip install findspark

In [5]:
import os
import findspark

os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
findspark.init()

In [6]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as fn

In [7]:
spark = SparkSession.builder.appName('hw2').getOrCreate()

In [8]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

### Read the json file:

In [9]:
df = spark.read.json('/content/DataFrames_sample.json')

In [10]:
df.show(5)

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display the schema:

In [11]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [12]:
df.select('*').where(df['Model']== "MacBook Pro").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

In [13]:
df.createOrReplaceTempView('dfTable')

### Display "RAM"column and count "RAM" column:

In [14]:
spark.sql('select RAM, count(RAM) from dfTable group by RAM').show()

+----+----------+
| RAM|count(RAM)|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [15]:
spark.sql('select * from dfTable where Year = 2015').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [16]:
spark.sql("SELECT * from dfTable where Model  like 'M%' ").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [17]:
spark.sql("SELECT * from dfTable where Model  like 'MacBook Pro' ").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [18]:
spark.sql("SELECT * from dfTable where Model='MacBook' and RAM='8GB'").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [19]:
spark.sql("SELECT * from dfTable where Model='iMac' and D>=8").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [20]:
dfT2 = spark.read.csv('test1.csv', inferSchema= True, header=True)

In [21]:
dfT2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

### Display Salary of the people less than or equal to 20000

In [22]:
dfT2.select('Salary').where(dfT2['Salary']<=20000).show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [23]:
dfT2.createOrReplaceTempView('dfT2Table')
spark.sql("select Salary from dfT2Table where Salary between 15000 and 20000").show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

## Task 3

### Read "test3" dataset:

In [24]:
dfT3 = spark.read.csv('test3.csv', inferSchema= True, header=True)

### Display dataset

In [25]:
dfT3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [26]:
dfT3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [27]:
dfT3.groupBy(dfT3['Name']).agg(fn.sum(dfT3.salary).alias('Sum')).show()

+---------+-----+
|     Name|  Sum|
+---------+-----+
|Sudhanshu|35000|
|    Sunny|12000|
|    Krish|19000|
|   Mahesh| 7000|
+---------+-----+

### Group by "Name" column and using avg function on "Name" column

In [28]:
dfT3.groupBy(dfT3['Name']).agg(fn.avg(dfT3.salary).alias('avgSalary')).show()

+---------+------------------+
|     Name|         avgSalary|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [29]:
dfT3.groupBy(dfT3['Departments']).agg(fn.sum(dfT3.salary).alias('Sum')).show()

+------------+-----+
| Departments|  Sum|
+------------+-----+
|         IOT|15000|
|    Big Data|15000|
|Data Science|43000|
+------------+-----+

### Group by "Departments" column and using mean function on "Departments" column:

In [30]:
dfT3.groupBy(dfT3['Departments']).agg(fn.avg(dfT3.salary).alias('avgSalary')).show()

+------------+---------+
| Departments|avgSalary|
+------------+---------+
|         IOT|   7500.0|
|    Big Data|   3750.0|
|Data Science|  10750.0|
+------------+---------+

Group by "Departments" column and using count function on "Departments" column:

In [31]:
dfT3.groupBy(dfT3['Departments']).agg(fn.count(dfT3.Departments).alias('avgSalary')).show()

+------------+---------+
| Departments|avgSalary|
+------------+---------+
|         IOT|        2|
|    Big Data|        4|
|Data Science|        4|
+------------+---------+

### Apply agg to using sum function get the total of salaries

In [32]:
dfT3.agg(fn.sum(dfT3.salary).alias('sum')).show()

+-----+
|  sum|
+-----+
|73000|
+-----+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [33]:
import pyspark.ml.feature as ml
from pyspark.ml import Pipeline
from pyspark.ml.regression import LinearRegression

In [34]:
dfT3 = spark.read.csv('ITI_data.csv', inferSchema=True, header = True)
dfT3.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [35]:
train_df, test_df = dfT3.randomSplit([.8,.2],seed=42)
print(f"There are {train_df.count()} rows in the training set, and {test_df.count()} in the test set")

There are 133 rows in the training set, and 25 in the test set

In [36]:
train_df.write.parquet("train.parquet",  mode = 'overwrite')
test_df.write.parquet("test.parquet",  mode = 'overwrite')

In [37]:
train_df = spark.read.parquet('train.parquet')
test_df = spark.read.parquet('test.parquet')

In [38]:
train_df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [39]:
test_df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [40]:
categorical_cols  = [field for (field,dataType) in dfT3.dtypes
              if ((dataType=='string'))]
numerical_cols =[field for (field,dataType) in dfT3.dtypes
              if ((dataType!='string')& (field not in ['crew']))]

### OneHotEncoder

In [41]:
index_output_cols = [x + "_Index" for x in categorical_cols]
string_indexer = ml.StringIndexer(inputCols=categorical_cols, outputCols=index_output_cols)

In [42]:
ohe_output_cols = [x + "_OHE" for x in categorical_cols]
one_encoder = ml.OneHotEncoder(inputCols=index_output_cols, outputCols=ohe_output_cols)

In [43]:
mixed_features = ohe_output_cols + numerical_cols
mixed_features

['Ship_name_OHE',
 'Cruise_line_OHE',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density']

###Use VectorAssembler to merge all columns into one column:

In [44]:
vector_assembler = ml.VectorAssembler(inputCols=mixed_features, outputCol='features')

### Create a Linear Regression Model

In [45]:
lr = LinearRegression(labelCol='crew')

### Creating a Pipeline

In [46]:
pipeline = Pipeline(stages=[string_indexer, one_encoder, vector_assembler, lr])
model=pipeline.fit(train_df)
model

PipelineModel_65fc0e5a3366

In [47]:
model.transform(train_df).show()

+-------------+---------------+---+-----------------+----------+------+------+-----------------+-----+---------------+-----------------+----------------+---------------+--------------------+------------------+
|    Ship_name|    Cruise_line|Age|          Tonnage|passengers|length|cabins|passenger_density| crew|Ship_name_Index|Cruise_line_Index|   Ship_name_OHE|Cruise_line_OHE|            features|        prediction|
+-------------+---------------+---+-----------------+----------+------+------+-----------------+-----+---------------+-----------------+----------------+---------------+--------------------+------------------+
|    Adventure|Royal_Caribbean| 12|            138.0|     31.14|  10.2| 15.57|            44.32|11.85|           12.0|              1.0|(117,[12],[1.0])| (18,[1],[1.0])|(141,[12,118,135,...| 11.85577295274202|
|      Allegra|          Costa| 21|            28.43|      8.08|  6.16|   4.1|            35.19|  4.0|           13.0|              5.0|(117,[13],[1.0])| (18,[5],[1.0])|(141,[13,122,135,...| 3.996042271273831|
|      Arcadia|            P&O|  9|             85.0|     19.68|  9.35|  9.84|            43.19| 8.69|           14.0|             10.0|(117,[14],[1.0])|(18,[10],[1.0])|(141,[14,127,135,...| 8.688911258337228|
|        Aries|           Star| 22|            3.341|      0.66|   2.8|  0.33|            50.62| 0.59|           15.0|              9.0|(117,[15],[1.0])| (18,[9],[1.0])|(141,[15,126,135,...|0.5873179942160374|
|      Armonia|            MSC| 12|             58.6|     15.66|  8.24|  7.83|            37.42|  7.0|           16.0|              7.0|(117,[16],[1.0])| (18,[7],[1.0])|(141,[16,124,135,...| 7.002579840085187|
|    Atlantica|          Costa| 13|           85.619|     21.14|  9.57| 10.56|             40.5|  9.2|           17.0|              5.0|(117,[17],[1.0])| (18,[5],[1.0])|(141,[17,122,135,...| 9.199998139053857|
|   Brilliance|Royal_Caribbean| 11|            90.09|     25.01|  9.62|  10.5|            36.02| 8.48|           18.0|              1.0|(117,[18],[1.0])| (18,[1],[1.0])|(141,[18,118,135,...| 8.483908601653166|
|    Caribbean|       Princess|  9|            116.0|      26.0|  9.51|  13.0|            44.62| 11.0|           19.0|              2.0|(117,[19],[1.0])| (18,[2],[1.0])|(141,[19,119,135,...|11.001236793534215|
|  Celebration|       Carnival| 26|           47.262|     14.86|  7.22|  7.43|             31.8|  6.7|           20.0|              0.0|(117,[20],[1.0])| (18,[0],[1.0])|(141,[20,117,135,...|  6.69634993389739|
|      Century|      Celebrity| 18|70.60600000000001|      17.7|  8.15|  8.75|            39.89| 8.58|           21.0|              6.0|(117,[21],[1.0])| (18,[6],[1.0])|(141,[21,123,135,...|  8.57564043986692|
|        Cloud|      Silversea| 19|             16.8|      2.96|  5.14|  1.48|            56.76|  2.1|           22.0|             16.0|(117,[22],[1.0])|(18,[16],[1.0])|(141,[22,133,135,...|2.0899112859679922|
|     Conquest|       Carnival| 11|            110.0|     29.74|  9.53| 14.88|            36.99| 19.1|           23.0|              0.0|(117,[23],[1.0])| (18,[0],[1.0])|(141,[23,117,135,...|19.100220291473214|
|Constellation|      Celebrity| 11|             91.0|     20.32|  9.65|  9.75|            44.78| 9.99|           24.0|              6.0|(117,[24],[1.0])| (18,[6],[1.0])|(141,[24,123,135,...| 9.986906785320805|
|        Coral|       Princess| 11|91.62700000000001|     19.74|  9.64|  9.87|            46.42|  9.0|           25.0|              2.0|(117,[25],[1.0])| (18,[2],[1.0])|(141,[25,119,135,...| 8.999962268320166|
|        Crown|      Norwegian| 25|            34.25|     10.52|  6.15|  5.26|            32.56|  4.7|           26.0|              4.0|(117,[26],[1.0])| (18,[4],[1.0])|(141,[26,121,135,...| 4.696304936261554|
|         Dawn|      Norwegian| 11|             90.0|      22.4|  9.65|  11.2|            40.18| 11.0|            2.0|              4.0| (117,[2],[1.0])| (18,[4],[1.0])|(141,[2,121,135,1...| 10.87427813900163|
|         Dawn|       Princess| 16|           77.499|      19.5|  8.56|  10.5|            39.74|  9.0|            2.0|              2.0| (117,[2],[1.0])| (18,[2],[1.0])|(141,[2,119,135,1...| 9.125135049205715|
|      Destiny|       Carnival| 17|          101.353|     26.42|  8.92| 13.21|            38.36| 10.0|           27.0|              0.0|(117,[27],[1.0])| (18,[0],[1.0])|(141,[27,117,135,...| 9.999512956112275|
|        Dream|      Norwegian| 21|            50.76|     17.48|  7.54|  8.74|            29.04| 6.14|           28.0|              4.0|(117,[28],[1.0])| (18,[4],[1.0])|(141,[28,121,135,...| 6.138067054493802|
|      Ecstasy|       Carnival| 22|           70.367|     20.52|  8.55|  10.2|            34.29|  9.2|           29.0|              0.0|(117,[29],[1.0])| (18,[0],[1.0])|(141,[29,117,135,...| 9.197977337347302|
+-------------+---------------+---+-----------------+----------+------+------+-----------------+-----+---------------+-----------------+----------------+---------------+--------------------+------------------+
only showing top 20 rows

In [53]:
pred = model.transform(test_df)

In [54]:
pred.count()

133

In [56]:
from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="crew",metricName="r2")
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(pred))

R Squared (R2) on test data = 72.34%